body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a{
  color: black;
}

li{
  text-decoration: none;
  list-style: none;
}

p,h1, h2 {
  font-family: 'Open Sans', sans-serif;
}

h3,h4,h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color:'white';
}

.input_{
  height:2rem;
  width:16rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
